@{
    ViewData["Title"] = "Kombin";
}

<table style="width:100%;">
    <tr><td>Erkek Giyim Tarzları</td><td class="expand"><hr style="border-top: 1px solid #bfbfbf;"></td></tr>
</table>
<hr class="my-2">
<div class="owl-item active" style="width: 205px; margin-right: 20px;">
    <div class="item">
        <div onclick="setLocation('/casual-tarzi-kombinler')" class="col-md-12 col-xs-12 p-0 tarz-item-dis">
            <div class="tarz-item" style="padding:0px !important;">
                <a title="Casual" href="/casual-tarzi-kombinler">
                    <img alt="Casual" title="Casual" data-src="https://img.coulfate.com/images/thumbs/0010944.jpeg" style="margin-bottom:30px" src="https://img.coulfate.com/images/thumbs/0010944.jpeg" class=" ls-is-cached lazyloaded">
                </a>
                <div class="anasayfa-detail">
                    <div class="filigran">
                        <a title="Casual" href="/casual-tarzi-kombinler">KOMBİNLERİ GÖR</a>
                    </div>
                </div>
            </div>
            <div class="item-detail">
                <a title="Casual" href="/casual-tarzi-kombinler">
                    <img alt="Kategori İçin Resim Casual" data-src="https://img.coulfate.com/images/thumbs/0000329-casual.svg" style="width:62%" src="https://img.coulfate.com/images/thumbs/0000329-casual.svg" class=" ls-is-cached lazyloaded">
                    <div class="tarz-tag">
                        <p>Hem şık hem rahat kıyafetler ile gündelik yaşamınızda da tarz sahibi olun. Casual tarzı erkek giyim kombinlerini inceleyin.</p>
                    </div>
                    <div class="detail">
                        <div class="filigran">
                            <span href="/casual-tarzi-kombinler">Kombinleri Gör</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>