@{
    ViewData["Title"] = "Woman";
}
@using EntityLayer.Concrete
@model List<Post>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-sm-12">
                    <div>@await Component.InvokeAsync("CategoryList", new { MainCategory = 1 })</div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4">
                        <div class="card">
                            <img src="~/imageFiles/@item.imageDestination" />
                        </div>
                        <div class="card-footer">
                            @item.name
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>